.main {
  display: flex;
}

.list {
  height: 100%;
  max-width: 280px;
  border-right: 2px solid black;
}

.object {
  margin: 0.5em;
  border: 1px solid blue;
  padding: 0.5em;
}

.info {
  display: flex;
  padding: 15px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.catName {
  color: skyblue;
  cursor: pointer;
}

.catName:hover {
  text-decoration: underline;
}
